<div class="container">
    <div class="row home wrap">

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left math" style="padding-left: 100px;" >
                        <h3 class="card-title">Math</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left english" style="padding-left: 100px;" >
                        <h3 class="card-title">English</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left kiswahili" style="padding-left: 100px;" >
                        <h3 class="card-title">Kiswahili</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left biology" style="padding-left: 100px;" >
                        <h3 class="card-title">Biology</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>


        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left physics" style="padding-left: 100px;" >
                        <h3 class="card-title">Physics</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left chemistry" style="padding-left: 100px;" >
                        <h3 class="card-title">Chemistry</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left cre" style="padding-left: 100px;" >
                        <h3 class="card-title">C.R.E</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left history" style="padding-left: 100px;" >
                        <h3 class="card-title">History</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 23rem;">
                    <div class="card-body text-left bs" style="padding-left: 100px;" >
                        <h3 class="card-title">B/s</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
