<div class="container">
    <div class="row home wrap">
        <div style="width: fit-content;">
            <a href="#">
                <div class="card card1" style="width: 28rem;">
                    <div class="card-body text-left math" style="padding-left: 100px;" >
                        <h3 class="card-title">Math</h3>
                        <h4 class="card-subtitle mb-2">Card subtitle</h4>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                        <h5 class="card-subtitle mb-2">Card subtitle</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>